.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 2px 16px;
  margin-bottom: 16px;
}

.App-link {
  color: #61dafb;
}

.calendar-container {
  width: 148px;
}

.months-container {
  display: flex;
}

.day-grid {
  border-right: 1px solid;
  border-bottom: 1px solid;
  display: inline-flex;
  flex-wrap: wrap;
}

.day-grid span {
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.day-grid span:hover {
  background-color: lightblue;
}

.today {
  font-weight: bold;
  color: white;
  background-color: blue;
}

.out-of-bounds {
  color: lightgrey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
